@model GoGoGym.Models.RatingDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ratings Detail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExertionScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExertionScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnjoymentScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnjoymentScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeartrateScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeartrateScore)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {}) |
    @Html.ActionLink("Back to List", "Index")
</p>
