@model GoGoGym.Models.ExerciseDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exercise Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sets)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sets)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.level)
        </dd>

    </dl>
</div>
